#back {
    background-image: url("/assets/img/bg-2.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
}

#mission {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

#about h2 {
    font-size: 55px;
}

#about p {
    font-size: 25px;
}

#about {
    margin-top: 150px;
    margin-left: 20%;
    margin-right: 20%;
}

#team {
    background-image: url("/assets/img/hero-bg.jpg");
    height: 848px;
}